@import url(var.css);

body {
  background-color: var(--body-color,white);
}
header {
  background-color: var(--header-color, white);
}

/* Fix Display for screen smaller than 412 pixel on x-axis */

em {
  color: var(--em-color, lightblue);
}
.nav_list {
  display: flex;
  list-style-type: none;
  float: right;
}

i {
  color: var(--i-color, purple);
}

.nav_list li {
  display: block;
  margin-right: 30px;
}

.nav_list li a {
  border-style: solid;
  padding: .5cm;

  &:hover {
    padding: .7cm;
    background-color: #206A83;
    color: lightblue;
    font-size: x-large;
  }
}



.nav_list li a:active {
  border-style: solid;
  padding: .7cm;
  background-color: #1E3137;
  color: white;
  font-size: x-large;
}

.text_topic {
  text-align: center;
  color: var(--text-topic-color, blue);
}

.flex_lists {
  display: flex;
  justify-content: center;
  justify-content: space-around;
}

#agenda {
  align-self: flex-end;
}

#quarterly_media {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.visuals:has(h3) {
  color:#206A83;
}

.visuals {
  margin: 1vw;
  padding: 5%;
  border-style: solid;
}

.visual_summaries {
  margin-left: 1em;
  margin: 100px 0 100px 0;
  padding: 1cm 1cm 1cm 1cm;
  border-style: solid;
}

#audio_recording {
  margin-left: 1em;
  padding-left: 1em;
  border-style: solid;
}

#talking_vid {
  width: 100%;
  height: auto;
  max-width: 1fr;
  max-height: 1fr;
}

#bar_chart {
  width: 100%;
  height: auto;
  max-width: 1fr;
  max-height: 1fr;
}

.good_highlight {
  color: green;
  text-decoration: underline;
}

details {
  flex: 1;
  margin: 0 5px;
}

#weather_component {
  display: none;
}
