/* fluid type experiment */
/* @link https://utopia.fyi/type/calculator?c=320,18,1.2,1240,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
  --step--2: clamp(0.7813rem, 0.7747rem + 0.0326vw, 0.8rem);
	--step--1: clamp(0.9375rem, 0.9158rem + 0.1087vw, 1rem);
	--step-0: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
	--step-1: clamp(1.35rem, 1.2761rem + 0.3696vw, 1.5625rem);
	--step-2: clamp(1.62rem, 1.5041rem + 0.5793vw, 1.9531rem);
	--step-3: clamp(1.9438rem, 1.7707rem + 0.8652vw, 2.4413rem);
	--step-4: clamp(2.3325rem, 2.0823rem + 1.2511vw, 3.0519rem);
	--step-5: clamp(2.7994rem, 2.4461rem + 1.7663vw, 3.815rem);

  --header-color:rgb(188, 233, 248);
  --em-color:teal;
  --text-topic-color:color(rec2020 0 0.5 0.5);
  --i-color:hsl(270, 70%, 80%);
  --body-color:color-mix(in srgb, #34c9eb 10%,white);
}

/* Modern Reset by Andy Bell */
/* @link https://andy-bell.co.uk/a-more-modern-css-reset/ */
/* Box sizing rules */

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: playPen, sans-serif;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings 
Causing a css validator issue
h1, h2,
h3, h4 {
  text-wrap: balance;
}
*/

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

@font-face {
  font-family: 'playpen_sansregular';
  src: url('/font/playpensans-variablefont_wght-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
